body{
    background: white;
}

.titulo-principal{
    text-align: center;
}


p{
    text-align: justify;
}



#frase{
    font-size: 20px;
    text-align: center;
}

.portada{
    display: flex;
    justify-content: center;
    align-items: center;
    /*height: 50vh;*/
}

.principal{
    padding: 20px;
}

.libros{
    padding: 30px;
}

.itemLibro{
    font-style: oblique;
}

ul{
    display: inline-block;
    vertical-align: top;
    width: 30%;
    margin-right: 10%;
}

.imagen-libros{
    width: 50%;
}

.titulo-principal{
    padding-left: 30px;
}